.app{
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

.container{
  margin: 1em 0;
  padding: .8em;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}